/* :root {
  --pico-border-radius: 0.5rem;
  --pico-border-width: 0.11rem;
  --pico-outline-width: 0.125rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--pico-background-color);
  font-family: departureMonoFont, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: minecraftFont, monospace, sans-serif;
}

body button {
  font-family: minecraftFont, monospace, sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

:root {
  --bella-color: #ffffff; /* WHITE */
  --bella-sub-color: #959794; /* SPANISH GRAY */
  --bella-sub-background: #45433e; /* RIFLE GREEN */
  --bella-background: #19171a; /* EERIE BLACK */
  --bella-accent: #e9322e; /* PERMANENT GERANIUM LAKE */
  --bella-border-radius: 0;
  --bella-spacing-vertical: 0.5rem;
  --bella-spacing-horizontal: 1rem;
  --bella-font-weight: 400;
  --bella-font-size: 1rem;
  --bella-border: none;
  --bella-outline: 0.25rem solid var(--bella-accent);
  --bella-line-height: 1.5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--bella-color);
  background: var(--bella-background);
  font-family: departureMonoFont, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: minecraftFont, monospace, sans-serif;
}
